.text-overflow {
  @extend %text-overflow;
  @extend %text-ellipsis;
  @extend %display-block;
}

.text-white {
  color: white(1);
}

.text-black {
  color: black(1);
}

.text-smoothing{
  // http://habrahabr.ru/post/154465/
  text-shadow:-1px -1px 1px rgba(255,255,255,0.2), // наверх и влево
  1px 1px 1px rgba(255,255,255,0.2), // вниз и вправо
  1px 1px 1px rgba(0,0,0,0.7); // тёмная тень
}
