%margin-center {
  margin-left: auto;
  margin-right: auto;
}

%display-block {
  display: block;
}

%display-inline-block {
  display: inline-block;
}

%display-table {
  display: table;
}

%display-none {
  display: none;
}

%text-overflow {
  white-space: nowrap;
  overflow: hidden;
}

%text-ellipsis {
  text-overflow: ellipsis;
}

%position-relative {
  position: relative;
}

%position-absolute {
  position: absolute;
}

%position-fixed {
  position: fixed;
}

%position-static {
  position: static;
}

%outline-none{
  outline: none;
}

%user-select-none{
  user-select:none;
}

%fluid{
  width: 100%;
}

%text-decoration-none{
  text-decoration: none;
}

%text-decoration-underline{
  text-decoration: underline;
}

%float-left{
  float: left;
}

%float-right{
  float: right;
}
